<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Van Laer Facturatie</title>
  <base href="<%= APP_BASE %>">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body data-app-version="<%= APP_VERSION %>">

  <app>Loading...</app>

  <!-- inject:js -->
  <!-- endinject -->

  <script>
    System.import('bootstrap')
      .catch(function (e) {
        console.error(e);
      });
  </script>

</body>
</html>
